# what is list in python? 
  python  list are the container to store a set of value of any data type,  
  friend=["apple","harry",393,False,True,38939.454]

In [5]:
# accessing of list item throught index methods.
list=[1,2,3,4,5,65]
print(type(list)) 

print(list[0]) # note that index numbering starts from 0 to -1.


# item assignment usint this syntax . note that item is not applicable for string datatype.

list[0]=3434
print(list)

<class 'list'>
1
[3434, 2, 3, 4, 5, 65]

# we can create a list of different data types.

In [10]:
# for example 
list=["apple",34.34,False,True,343,None]

# print(list(type)) note:- if you find the type of list variable python gives error because object is not callable you will understand object in "oops" .
print(list)

['apple', 34.34, False, True, 343, None]

# list slicing

In [12]:
list=["apple","banana","orange","pineapple","strawberry"]
     # 0         1         2        3         4      positive indices       
     # -5        -4       -3       -2        -1      negative indices

print(list[0:4])
print(list[-4:])

['apple', 'banana', 'orange', 'pineapple']
['banana', 'orange', 'pineapple', 'strawberry']

#  list method

   consider the following list method:
   l1= [1,2,3,4,5,6,7,8]

  1. list.sort(): updates the list to [1,2,3,4,5,6,7,8,334
  2. list.reverse(): update the list [334,8,7,6,5,4,3,2,1]
  3. list.append(): update the list using add item in the end .
  4. list.insert(3,8): this will add 8 at the index of 3.
  5. list.pop(2): this will remove an item at the index of 2. and return its value
  6. list.remove(3434): this will remove the 3434 from the list.

In [12]:
# example()


l1=[1,2,3,6,4,5]
l1.sort() # sort the list this method updates the list orderily.   
print(l1)

l1.reverse() # reverse the list
print(l1)

l1.append(3434) # add the list item in the end . 
l1.append(348789) # add the list item in the end . 
print(l1)

l1.insert(3,8) 
print(l1)

l1.pop(3)
print(l1)

l1.remove(3434)
print(l1)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1, 3434, 348789]
[6, 5, 4, 8, 3, 2, 1, 3434, 348789]
[6, 5, 4, 3, 2, 1, 3434, 348789]
[6, 5, 4, 3, 2, 1, 348789]

In [33]:
# add two item using list.

list=[343,"harry",4343," is"," good "]

li2=list[ 1 ] + list[3] +list[ 4 ] #if you print the space use  this method. just give space in your items.


li=list[0]+ list[2]

print(li)
print(li2)

4686
harry is good

# Geting started with Tuples :

# Tuple is a immutable data type in python

1. a =() # empty tuple

2. a =(1,) # tuple with only one element needs a comma.

3. a=(1,34,53) # a tuple with more than one element.

Once defined a tuple element can't be change/altered or manipulated.

In [36]:
# creating a tuple using ()

t=(1,3,5,6,6,7,8)

print(t)  

# t([0])=34 #u can not assign item in tuple its fixed when you defined an  tuple.
# print(t)

t1=(1) # wrong way to declare a tuple. 
print(t1)

t2=(2,) # tuple with single element needs  comma. 
print(t2)

(1, 3, 5, 6, 6, 7, 8)
1
(2,)

# Tuple Methods :

# Consider the following tuple :
  
  1. a.count(1) : a.count(1)  return the number of times 1 occur in a . 
  2. a.index(1) : a.index(1) return the index of first occurrence of 1 in a.

In [9]:
a =(1,7,2,1,1,1,1,1,1,1,1,1,1,1,)

print(a.count(1))
print(a.index(7))

12
1

#   PRACTICE SET

# 01. write a program to store fruits in a list entered by the user.

In [17]:
# seven fruits

# list=["apple ", "banana","orange", "pineapple" , " strawberry" ,  " mango", "coconut"]

list1=input("enter the fruit number 1 ")

list2=input("enter the fruit number 2")

list3=input("enter the fruit number 3 ")

list4=input("enter the fruit number 4 ")

list5=input("enter the fruit number 5 ")

list6=input("enter the fruit number 6 ")

list7=input("enter the fruit number 7 ")

print([list1, list2, list3, list4, list5,list6,list7])

['apple', 'banana', 'orange', 'pineapple', 'strawberry', 'mango', 'coconut']

# 02. write a program to accept markd of 6 students and display in  a sorted manner.

In [24]:
 

students_marks_1 =int (input("enter the marks student 1 "))
students_marks_2 =int (input("enter the marks student 2  "))
students_marks_3= int(input("enter the marks student 3 "))
students_marks_4= int(input("enter the marks student 4 ")) 

students_marks_5 = int(input("enter the marks student 5 "))

students_marks_6 = int(input("enter the marks student 6 "))

all_student_marks=[students_marks_1,students_marks_2,students_marks_3,students_marks_4,students_marks_5,students_marks_6]

print(all_student_marks)
all_student_marks.sort()

print(all_student_marks)

[54, 43, 46, 75, 54, 75]
[43, 46, 54, 54, 75, 75]

#  04. check that tuple cannot be changed in python.

In [25]:
# tuple check

tup=(343,32,3432,3534,234,534)

print(tup)
tup([0])=34444
print(tup)

SyntaxError: cannot assign to function call (<ipython-input-25-cb54dd43a982>, line 6)

# 05. write a program to sum a list with number 4  .

In [29]:
a=[23,24,25,343,3434]

print(a[0]+a[1]+a[2]+a[4]+a[3])
print(sum(a))

3849
3849

# 05. write a program  to count the number of zeros in the folllowing tuple .

In [31]:
a=(7,0,0,8,0,9)

print(a.count(0))
print(a)

3
(7, 0, 0, 8, 0, 9)

# LIST AND TUPLE FOR BEGINER IS ENDS